
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/Content/Style.css" type="text/css" />
    <script src="/ /js/amluong.js"></script>

    <style>
        body {

            background: url('/Content/image/background.jpg') no-repeat center center fixed;

            background-size: cover;
        }
    </style>


</head>
<body>
    <div class="charecterchon">
        <div id="buttons">
            <a href="3Ninjaboy.html" class="btn btn-outline effect-scale">
                CHỌN
            </a>
        </div>
    </div>
   
   
        <div class ="boy" id = "boy"style="left:20%; right:20%; top :20%; bottom: 30%; display:none" ></div>
        <div class ="girl"id = "girl"style="left:20%; right:20%; top :20%; bottom: 30%;display:none" ></div>
        <div class ="robot" id = "robot"style="left:20%; right:20%; top :20%; bottom: 30%;display:none"></div>
    
        <button class="next" style="right: 20%;"onclick="increase()"> NEXT</button>
        <button class="prev" style="left:20%;" onclick="decrease()"> PRE </button>
        <script src="Content/js/JavaScript.js"></script>
   






</body>

</html>

