
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Ninja </title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Game Ninja" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- gallery -->
    <link rel="stylesheet" href="/Content/css/lightGallery.css" type="text/css" media="all" />
    <!-- //gallery -->
    <!-- font-awesome icons -->
    <link href="/Content/css/font-awesome.css" rel="stylesheet">

    <!-- //font-awesome icons -->
    <link href="fonts/.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="fonts/.googleapis.com/css?family=Jura:300,400,500,600" rel="stylesheet">
    <link href='fonts/.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="w3_navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="w3_navigation_pos">
                        <h1><a href="/Play/pickAVT"><span>Game</span> Ninja</a></h1>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-5" id="cl-effect-5">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="Index"><span data-hover="Home">Home</span></a></li>

                            <li><a href="#about" class="scroll"><span data-hover="About">About</span></a></li>

                            <li style="width: 45%"><a href="#work" class="scroll" style="width: 20%"><span data-hover="Gallery">Gallery</span></a></li>
                            <li><a href="/Login/login"><span data-hover="Login">Login</span></a></li>
                            <li><a href="#mail" class="scroll"><span data-hover="Contact">Contact</span></a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <style>
            img {
                width: 100%;
            }
        </style>
        <!--Slider-->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="slider-img">
                            <img src="/Content/images/robot.png" class="img-responsive" alt="Ninja World">
                        </div>
                        <div class="slider-info">

                            <h4>Dragon Fin Soup Ridding </h4>
                            <p>World building is component of Ninja </p>
                            <br />
                            <br />
                            <br />

                        </div>
                    </li>
                    <li>
                        <div class="slider-img">
                            <img src="/Content/images/girl.png" class="img-responsive" alt="Ninja World">
                        </div>
                        <div class="slider-info">

                            <h4>Battle ground</h4>
                            <p>World building is component of Ninja </p>


                        </div>
                    </li>
                    <li>
                        <div class="slider-img">
                            <img src="/Content/images/boy.png" class="img-responsive" alt="Ninja World">
                        </div>
                        <div class="slider-info">

                            <h4>Danger bear guy pistol moment</h4>
                            <p>World building is component of Ninja </p>
                            <br />
                            <br />
                            <br />

                        </div>
                    </li>


                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
        <!--//Slider-->
    </div>
    <!-- //banner -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Contracts</h4>
                    <img src="/Content/images/ab.jpg" alt=" " class="img-responsive">
                    <h5>Donec lobortis pharetra dolor</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">

            <div class="col-md-4 agileits_about_left">
                <h3 class="w3l_head">About Us</h3>
                <p class="w3ls_head_para">who we are</p>
            </div>
            <div class="agileits_banner_bottom_grids">
                <div class="col-md-4 agileits_banner_bottom_grid_l">
                    <h4>Aliquam a nunc non erat lobortis</h4>
                    <p>
                        <i>
                            Ninja game is a perfect game for you!
                        </i>you can reduce stress and make you excited when you play
                        game,hihihihihi
                    </p>
                </div>
                <div class="col-md-4 agileits_banner_bottom_grid_r">
                    <div class="agileits_banner_btm_grid_r">
                        <img src="/Content/images/Idle (6).png" alt=" " class="img-responsive">

                    </div>
                </div>
                <div class="col-md-4 agileits_banner_bottom_grid_r">

                    <div class="agileits_banner_btm_grid_r">
                        <img src="/Content/images/Attack__002.png" alt=" " class="img-responsive">

                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about-bottom -->
    <!-- gallery -->
    <div class="team-bottom" id="work">
        <div class="container">
            <h3 class="w3l_head w3l_head1">Latest Gallery</h3>
            <p class="w3ls_head_para w3ls_head_para1">Lorem Ipsum Dolor</p>
            <div class="w3layouts_gallery_grids">
                <ul class="w3l_gallery_grid" id="lightGallery">
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/ab.jpg" data-responsive-src="/Content/images/8.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/ab.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g1.jpg" data-responsive-src="/Content/images/9.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g1.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g2.jpg" data-responsive-src="/Content/images/10.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g2.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g3.jpg" data-responsive-src="/Content/images/11.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g3.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g4.jpg" data-responsive-src="/Content/images/12.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g4.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g5.jpg" data-responsive-src="/Content/images/13.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g5.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g8.jpg" data-responsive-src="/Content/images/14.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g8.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g6.jpg" data-responsive-src="/Content/images/15.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g6.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                    <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="/Content/images/g7.jpg" data-responsive-src="/Content/images/16.jpg">
                        <div class="w3layouts_gallery_grid1 box">
                            <a href="#">
                                <img src="/Content/images/g7.jpg" alt=" " class="img-responsive" />
                                <div class="overbox">
                                    <h4 class="title overtext"> Ninja World</h4>

                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!-- projects -->
    <div class="projects" id="projects">
        <div class="container">
            <div class="port-head">
                <h3 class="w3l_head w3l_head1">Latest News</h3>
                <p class="w3ls_head_para w3ls_head_para1">View Our Fantasy Games</p>
            </div>
        </div>
        <div class="projects-grids">
            <div class="sreen-gallery-cursual">

                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s1.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s2.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s3.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s4.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s5.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s6.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s7.jpg" alt="" />
                            <div class="projects-grid-caption">

                                <h4>Ninja World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="projects-agile-grid-info">
                            <img src="/Content/images/s1.jpg" alt="" />
                            <div class="projects-grid-caption">
                                <h4>Fantasy World</h4>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //projects -->
    <!-- mail -->
    <div class="mail" id="mail">
        <div class="container">
            <h3 class="w3l_head w3l_head1">Contact Us</h3>
            <p class="w3ls_head_para w3ls_head_para1">send us a message</p>
            <div class="w3_mail_grids">
                <form action="#" method="post">
                    <div class="col-md-6 w3_agile_mail_grid">
                        <span class="input input--ichiro">
                            <input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="">
                            <label class="input__label input__label--ichiro" for="input-25">
                                <span class="input__label-content input__label-content--ichiro">Your Name</span>
                            </label>
                        </span>
                        <span class="input input--ichiro">
                            <input class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" " required="">
                            <label class="input__label input__label--ichiro" for="input-26">
                                <span class="input__label-content input__label-content--ichiro">Your Email</span>
                            </label>
                        </span>
                        <span class="input input--ichiro">
                            <input class="input__field input__field--ichiro" type="text" id="input-27" placeholder=" " required="">
                            <label class="input__label input__label--ichiro" for="input-27">
                                <span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
                            </label>
                        </span>

                    </div>
                    <div class="col-md-6 w3_agile_mail_grid">
                        <textarea name="Message" placeholder="Your Message" required=""></textarea>
                        <input type="submit" value="Submit">
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>

    <!-- //mail -->
    <div class="map">
        <div class="container">
            <h3 class="w3l_head w3l_head1">Locate Us</h3>
            <p class="w3ls_head_para w3ls_head_para1">How to find us</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8752973424075!2d105.7740818!3d21.0376751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345557b8eeb5c7%3A0xd38b51eca7d50895!2zSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1600480796422!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- footer -->
    <div class="w3l_footer">
        <div class="container">

            <div class="w3ls_footer_grids">

                <div class="w3ls_footer_grid">
                    <div class="col-md-4 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Location</h4>
                            <p>3030 Hà Nội, Việt Nam</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Email</h4>
                            <a href="mailto:info@example.com">info@example.com</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Call Us</h4>
                            <p>(+000) 003 003 0052</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

    </div>
    <!-- //footer -->
    <!--banner Slider starts Here-->
    <script src="/Content/js/jquery-2.2.3.min.js"></script>
    <script src="/Content/js/responsiveslides.min.js"></script>
    <script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
    </script>
    <!-- js -->
    <!-- start-smoth-scrolling -->
    <script src="/Content/js/lightGallery.js"></script>
    <script>
    	 $(document).ready(function() {
			$("#lightGallery").lightGallery({
				mode:"fade",
				speed:800,
				caption:true,
				desc:true,
				mobileSrc:true
			});
		});
    </script>

    <script src="/Content/js/owl.carousel.js"></script>
    <link href="/Content/css/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css/owl.carousel.css" type="text/css" media="all">
    <script>
$(document).ready(function() {
	$("#owl-demo").owlCarousel({

		autoPlay: 3000, //Set AutoPlay to 3 seconds
		  autoPlay : true,
		   navigation :true,

		items : 4,
		itemsDesktop : [640,5],
		itemsDesktopSmall : [414,4]

	});

});
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/Content/js/move-top.js"></script>
    <script type="text/javascript" src="/Content/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- //js -->
    <script src="/Content/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>